@font-face {
	src:url(font/Quicksand-Regular.otf);
	font-family: Quicksand-Regular;
}

body {
	background: #fff;
	background-image: url("../pic/bg.jpg");
	background-size: 100% 100%;
	overflow: hidden;
	font-family: Quicksand-Regular;
}
#memory_board{
	background:rgba(0,0,255,0.5);
	padding: 1rem;
	width: 50%;
	margin:0px auto;
}
div#memory_board > div{
	background: #607d8b;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	width:7rem;
	height:7rem;
	float:left;
	margin: 0.5rem;
	padding:1rem;
	cursor:pointer;
	text-align:center;
}

.level {
  height: 10rem;
  width: 10rem;
  font-size: 5rem;
	font-family: Quicksand-Regular;
}

.block {
	display: block;
}

.level .block {
	font-size: 1rem;
}

.page-container {
	margin-top: 1rem;
}

.title h3 {
	font-family: Quicksand-Regular;
	font-weight: bold;
	letter-spacing: -0.10rem;
} 

.title img {
	display: inline-block;
	width: 3rem;
	height: 3rem;
	vertical-align: middle;
	margin-right: 0.5rem;
}

.disabled {
	cursor: not-allowed !important;
	background-color: #607d8b !important;
}
.disabled:hover,
.disabled:focus {
	background-color: #546e7a !important;
}

